
/* ==|== primary styles =====================================================
   Author:	Diego Caponera
   ========================================================================== */

/**** Typography ****/

html {
  overflow-y: scroll;
}

body { 
  font: 13px 'Helvetica Neue', Arial, sans-serif;
  background: #D0E4F2;
  color: #222;
  line-height: 1.6em;
  height:100%
}

a {
  color: #4E7AC7;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #7FB2F0;
}

a:active {
  background: hsla( 0, 100%, 100%, 0.5 );
}

h1, h2 {
  font-weight: 100;
  line-height: 1.2em;
  margin: 0 0 0.6em 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
}

h3, p, ul, ol, pre, dl {
  margin-bottom: 1.0em;
}

strong { font-weight: bold; }

.clear { color: #D0E4F2; }

.shadow-clear {text-shadow:1px 1px 2px white; }
.shadow-dark { text-shadow:2px 2px 1px #D0E4F2; }

.cornered{
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
	
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;	
}

.cornered-little{
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;	
	
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;	
}

#container {
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
	
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
	
	background-color:white;
	padding:40px;
	width:880px;
	margin:100px auto;
}

#content{
	
	
}

#footer{
	border-top:2px solid #D0E4F2;
	padding-top:10px;
}

.mwAlertBox{
	
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
	
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
	
	background-color:white;
	padding:40px;
	width:400px!important;
	margin:100px auto;	
	
}

/* Custom styles */

.mw-form { 
  	border-top: 4px solid #D0E4F2;		
	text-align:right;
}

.mw-form p {
	margin:20px 0px;
	line-height:28px;
	vertical-align:middle;
}

.mw-form .line input, .mw-form .line textarea, .mw-form .line select{	
	border: 1px solid #aaa;
	padding: 7px;
	font-size: 12px;
	background-color: rgba(208, 228, 242, 0.3);	
	font-weight:normal;
	color:black;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.mw-form input:focus, .mw-form textarea:focus {
	background-color: #FFF3D0;
}

.mw-form input[type='submit'] {
	background-color: rgb(220, 220, 220);
}

.mw-form input[type='submit']:hover{
	background-color:#D0E4F2;
}

.mw-form label {	
	margin-right:20px;
	font-weight:bold;
	color: #35478C;
	font-size:14px;
}

.mw-form *[disabled='disabled'] {
	opacity:0.5;
	cursor:default;
}

.mw-form .captcha-image {
	float: right;
	width: 150px;
	height: 60px;
	border: 1px solid #eee;
	padding: 2px;
}

.mw-form .captcha-refresh {
	float:right;
	border: 0px;
	margin:16px 10px;
}